[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
reflex = "*"
apscheduler = "*"

[dev-packages]
autopep8 = "*"
xlrd = "*"
pandas = "*"
icecream = "*"
loguru = "*"
openpyxl = "*"
pillow = "*"
playwright = "*"
aiofiles = "*"
httpx = "*"
fastapi = {extras = ["all"], version = "*"}

[requires]
python_version = "3.9"
